{% extends 'indexAuth.php.twig' %}
{% block content %}
    {% if products %}
        <table class="table">

            <thead>
            <tr>
                <th scope="col">Имя продукта</th>
                <th scope="col">Цена</th>
                <th scope="col">Количество</th>
                <th scope="col">Стоимость</th>
                <th scope="col"></th>
            </tr>
            </thead>


            {% for product in products %}
            <tr>
                <th scope="col">  {{ product.name_product }} </th>
                <th scope="col">  {{ product.price_product }}  </th>
                <th scope="col">  {{ product.count }}  </th>
                <th scope="col">  {{ product.count * product.price_product }} </th>
                <th scope="col">
                    <a href="/basket/add?id={{ product.goods_id }}">
                        <button class="comeBackBtn">+</button>
                    </a>
                    <a href="/basket/delete?id={{ product.goods_id }}">
                        <button class="comeBackBtn">-</button>
                    </a>
                </th>
                {% endfor %}


        </table>
        <p>Итого: {{ summary }}р.</p>
        <div class=""><a href="/orderAuth/create?userId={{ id_user }}">
                <button class=\"comeBackBtn\">Оформить заказ</button>
            </a></div>
    {% else %}
        <h2>Корзина пуста</h2>
    {% endif %}
{% endblock %}
