{% extends 'indexAuth.php.twig' %}


{% block content %}
    {% for good in goodsAuth  %}
 <div class="card product " style="width: 18rem;" >
     <a href="/goodAuth/one?id={{good.id}}"><img class="smallImg card-img-top" src="../public/img/{{good.img_dir}}" alt=""></a>
     <div class="card-body">
         <h5 class="card-title">{{good.name_product}}</h5>
         <p class="card-text">Цена {{good.price_product}}р</p>
         <a href="/basket/add?id={{good.id}}"><button class="comeBackBtn">Добавить в корзину</button></a>
     </div>
 </div>
{% endfor %}


{% endblock %}