{% extends 'indexAuth.php.twig' %}

{% block content %}
    <div class="card product " style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">№ {{ orderAuth.id }}</h5>
            <p class="card-text">Адресс {{ orderAuth.address }}</p>
            <p class="card-text">Телефон {{ orderAuth.phone }}</p>
            <p class="card-text">email {{ orderAuth.email }}</p>
            <p class="card-text">Статус {{ orderAuth.status }}</p>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Имя продукта</th>
            <th scope="col">Цена</th>
            <th scope="col">Количество</th>
            <th scope="col">Стоимость</th>

        </tr>
        </thead>
        {% for product in products %}
        <tr>
            <th scope="col">  {{ product.name_product }} </th>
            <th scope="col">  {{ product.price_product }}  </th>
            <th scope="col">  {{ product.amount }}  </th>
            <th scope="col">  {{ product.total_price }} </th>
            {% endfor %}
    </table>

    <div>
        <p>Итого: {{ orderAuth.summary }}р.</p>

    </div>
{% endblock %}
