{% extends 'indexAdmin.php.twig' %}


{% block content %}
    {% for order in ordersAdmin %}
        <div class="card product " style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">№ {{ order.id }}</h5>
                <p class="card-text">Пользователь {{ order.user_id }}</p>
                <p class="card-text">Адресс {{ order.address }}</p>
                <p class="card-text">Телефон {{ order.phone }}</p>
                <p class="card-text">email {{ order.email }}</p>
                <p class="card-text">Статуc: {{ order.status }}</p>



                <a href="/orderAdmin/one?id={{ order.id }}">
                    <button class="comeBackBtn">Подробнее</button>
                </a>
            </div>
        </div>
    {% endfor %}
{% endblock %}